<div class="container" *ngIf="productFormGroup">

    <form [formGroup]="productFormGroup" >

    
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter Name" formControlName="name"
          [ngClass]="{'is-invalid':submitted && productFormGroup.controls.name.errors}" >
          <div *ngIf="submitted && productFormGroup.controls.name.errors" class="invalid-feedback">
               <div *ngIf="productFormGroup.controls.name.errors.required">Name Is Required</div>
          </div>
        </div>
        <div class="form-group">
            <label for="">Price</label>
            <input type="number" class="form-control" name="price" placeholder="Enter Price" formControlName="price">
        </div>
          <div class="form-group">
            <label for="">Quantity</label>
            <input type="number" class="form-control" name="quantity" placeholder="Enter quantity" formControlName="quantity">
        </div>
            
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="available" formControlName="available">
            <label class="form-check-label" >Available</label>
        </div>
            
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="selected" formControlName="selected">
            <label class="form-check-label" >Selected</label>
        </div>
            
        
        
        <button type="submit" class="btn btn-primary" (click)="onSaveProduct()" >Submit</button>
      </form>
</div>
